body {
    background: #333;
    color: #fff;
    font: 12px/14px 'Consolas', monospace;
}
#header {
    font: 24px/24px 'Questrial';
    text-transform: uppercase;
    width: 98%;
    padding: 10px;
    height: 28px;
}
.pink {
    color: #f92672;
    font-size: 26px;
}
.yellow {
    color: #e6d157;
    font-size: 20px;
    z-index: 42;
    padding-left: 100px;
    margin-left: -100px;
}
.docs {
    float: right;
    font-size: 16px;
    color: #FFF;
}
.docs a, .docs a:link, .docs a:hover, .docs A:visited {
    color: #FFF;
}
#editor {
    background: #444;
    display: block;
    width: 49%;
    float: left;
}
#output {
    width: 49%;
    display: visible;
    float: right;
}
#htmlout {
    width: 49%;
    float: right;
    display: none;
}
#toggle {
    float: right;
}
a, a:link, a:hover, a:Visited {
    color: #4db0e3;
    text-decoration: none;
}