body {
    background: #333;
    color: #fff;
    font: 12px/14px 'Consolas', monospace;
}
#header {
    font: 24px/24px 'Questrial';
    text-transform: uppercase;
    width: 98%;
    padding: 10px;
    height: 28px;
    text-align:center;
    color: #fff;
}
#theader {
    font: 24px/24px 'Questrial';
    text-transform: uppercase;
    width: 98%;
    padding: 10px;
    height: 48px;
    text-align:center;
    color: #fff;
}

#footer {
    height: 70px;
    background-color: #eee;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
}
#codeVerifyBtn {
    background-color: #39c0c9;
    color:#fff;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    float:right;
    margin-top: 15px;
    margin-right: 15px;
}

.pink {
    color: #f92672;
    font-size: 26px;
}
.yellow {
    color: #e6d157;
    font-size: 20px;
    z-index: 42;
    padding-left: 100px;
    margin-left: -100px;
}
.docs {
    float: right;
    font-size: 16px;
    color: #FFF;
}

.docs a, .docs a:link, .docs a:hover, .docs A:visited {
    color: #fff;
}
#hints {
    background: #2D2D2D;
    display:block;
    width: 20%;
    float:left;
    margin-right: 15px;
}

#hint-title {
    background-color: #39c0c9;
    color:#fff;
    border: none;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    font-size: 16px;
}

#singlehint {
    display:block;
    width: 48%;
    float:right;
}

#singlehint-title {
    background-color: #39c0c9;
    color:#fff;
    border: none;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    font-size: 16px;
}

#edit-window {
    margin-bottom:83px;
}
#editor {
    background: #444;
    display: block;
    width: 39%;
    float: left;
}

#singleeditor {
    background: #444;
    display: block;
    width: 50%;
    float: left;
}

#output {
    width: 39%;
    display: visible;
    float: right;
}
#htmlout {
    width: 39%;
    float: right;
    display: none;
}
#toggle {
    float: right;
}
a, a:link, a:hover, a:Visited {
    color: #4db0e3;
    text-decoration: none;
}
