doctype html
html(lang="en")
  title Codify
  link(href="http://fonts.googleapis.com/css?family=Questrial", rel="stylesheet", type="text/css")
  link(href="/stylesheets/newstyle.css", rel="stylesheet", type="text/css")
  body
    script
      var sample;
      var getViewObject;
      var editor;
      var output;
      var parseCurrent;
      var stopDemHaterz;
    #header
      | Codify
      .docs
        a(href="form") Code Translations
    #edit-window
      #singleeditor 
      #singlehint
        #singlehint-title Submission Information
    script(src="http://ace.c9.io/build/src/ace.js", type="text/javascript", charset="utf-8")
    script(src="http://ace.c9.io/build/src/mode-javascript.js", type="text/javascript", charset="utf-8")
    script(src="http://ace.c9.io/build/src/mode-java.js", type="text/javascript", charset="utf-8")
    script(src="http://ace.c9.io/build/src/mode-python.js", type="text/javascript", charset="utf-8")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/js/temp.js")
    script(src="/js/singleform.js")
