doctype html
html(lang="en")
  include head2
  body
    script.
      var fromLang = #{fromLang};
      var toLang = #{toLang};
      var challengeId = '#{challengeId}';
      var codeId = '#{codeId}';
      var sample;
      var getViewObject;
      var editor;
      var output;
      var parseCurrent;
      var resizeEditors;
    #header
      | Codify
      .docs
        #link
          a(href="/translate-form") Translate
    #edit-window
      #hints
        #hint-title Javascript Syntax
        .hints-text
          ul
            li
              | Variables: var myName = 'Rebecca';
            li 
              | Logging: log(myName);
            li
              | Functions: 
              br
              | function(a, b) {
              br 
              | return a + b; }
            li
              | Functions as variables: 
              br
              | var addTwoNumbers = function(a, b) {
              br 
              | return a + b; };
            li
              | Objects:
              br
              | var person = {
              br
              | firstName : 'Boaz',
              br
              | lastName : 'Sender' };
            li
              | Arrays:
              br
              | var myArray = [ 'a', 'b', 'c' ];
              br
              | var firstItem = myArray[ "0" ]; // access the first item
      #editor
      #output
    #footer
      #player1
        img(src="/images/player1.png")
      #textscore1
        | You: 300 pts
      #player2
        img(src="/images/player2.png")
      #textscore2
        | Player 2: 300 pts
      form(action="",method="GET", onsubmit="verifyCode()")
      input(type="submit", id="codeVerifyBtn", value="Submit code")
    script(src="http://ace.c9.io/build/src/ace.js", type="text/javascript", charset="utf-8")
    script(src="http://ace.c9.io/build/src/mode-javascript.js", type="text/javascript", charset="utf-8")
    script(src="http://ace.c9.io/build/src/mode-java.js", type="text/javascript", charset="utf-8")
    script(src="http://ace.c9.io/build/src/mode-python.js", type="text/javascript", charset="utf-8")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/js/temp.js")
    script(src="/js/editor.js")
