//- head.jade
//- This file provides the HTML head part

head
  title NodeJS Starter Application
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  script(src="/js/modernizr.custom.63321.js")
  script(src="http://ace.c9.io/build/src/ace.js")
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="/stylesheets/css/bootstrap.css")
  link(rel="stylesheet", href="/stylesheets/css/app.css")
  link(rel="stylesheet", href="/stylesheets/css/demo.css" )
  link(rel="stylesheet", href="/stylesheets/css/style.css" )
  link(rel="stylesheet", href="/stylesheets/css/font-awesome.css" )
  link(rel="stylesheet", href="/stylesheets/css/style5.css")

  link(rel="stylesheet", href="/stylesheets/css/loggedin/bootstrap.min.css") 
  link(rel="stylesheet", href="/stylesheets/css/loggedin/bootstrap-reset.css") 

  link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.css")
  link(rel="stylesheet", href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css")
  link(rel="stylesheet", href="/stylesheets/css/loggedin/owl.carousel.css")

  link(rel="stylesheet", href="/stylesheets/css/style-responsive.css")
  link(rel="stylesheet",  href="/stylesheets/css/loggedin/style.css" )

  link(rel="stylesheet",  href="/stylesheets/css/loggedin/normalize.css")
  link(rel="stylesheet",  href="/stylesheets/css/loggedin/demo.css")
  link(rel="stylesheet",  href="/stylesheets/css/loggedin/component.css")

  link(rel="stylesheet",  href="/stylesheets/css/default.css" )
  link(rel="stylesheet",  href="/stylesheets/css/component.css" )