doctype html
html.no-js(lang="en")
  include head
  body
    #header
      | Codify
      .docs
        #link
          a(href="/translate-form") Translate
    .container.demo-1
      .main.clearfix
        form#nl-form.nl-form(name="form", action="request-game", method="post")
          | I want to compete in 
          select(name="fromlang", id="fromlang")
            option(value="1", selected="") Java
            option(value="2") Javascript
            option(value="3") Python
            option(value="4") Ruby
            option(value="5") C
          br
          | to 
          select(name="tolang", id="tolang")
            option(value="1", selected="") Python
            option(value="2") Javascript
            option(value="3") Java
            option(value="4") Ruby
            option(value="5") C
          |  translation.
          .nl-submit-wrap
            button.nl-submit(type="submit") Play!
          .nl-overlay
    // /container
    script(src="/js/nlform.js")
    script(src="/js/form2.js")
