html(lang="en")
  title Codify
  link(href="http://fonts.googleapis.com/css?family=Questrial", rel="styleshee
  link(href="/stylesheets/newstyle.css", rel="stylesheet", type="text/css")
  body
    script
      var sample;
      var getViewObject;
      var editor;
      var output;
      var parseCurrent;
      var stopDemHaterz;
      var saveData;
    #header
      | Codify
      span.pink &#160; | &#160;
      a#toggle-output(href="#")
        | Show
        span.yellow(onclick="this.firstChild.data = this.firstChild.data == 'Objective-C' ? 'HTML/CSS' : 'Objective-C'") HTML/CSS
      .docs
        a(href="https://github.com/thedrick/Gilbert/blob/master/README.md", target="_blank") Documentation
    #editor
    #output
    #htmlout
    script(src="http://ace.c9.io/build/src/ace.js", type="text/javascript", charset="utf-8")
    script(src="/js/editor.js")
