doctype html
html.no-js(lang="en")
  include head
  body
    #header
      | Codify
      .docs
        #link
          a(href="/translate-form") Translate
    .container.demo-1
      div(class="box red")
        | Twitter API
      div(class="box aqua")
        | Twitter API
      div(class="box purple")
        | Twitter API
      div(class="box blue")
        | Twitter API
      div(class="box green")
        | Twitter API
    //container
    script(src="/js/nlform.js")
    script(src="/js/form2.js")
