doctype html
html.no-js(lang="en")
  include head
  body
    #header
      | Codify
      .docs
        #link
          a(href="/translate-form") Translate
    .container.demo-1
      -var index = 1
      each val, key in projects
        div(class="box color#{index++}")
          | #{val.name}
    //container
    script(src="/js/nlform.js")
    script(src="/js/form2.js")
