doctype html
html
	title Codify admin
	body
		a(href="/admin/projects") back to projects
		h3 ~ project ~
		p from #{languages[project.fromLang]} to #{languages[project.toLang]}
		pre #{project}
		h3 ~ translations ~
		pre #{translations}
